<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAX-ey5nn6cEOrS1Zst2VHaZ9uq1mdkUA8</string>
	<key>GCM_SENDER_ID</key>
	<string>78165056938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dogCatcher</string>
	<key>PROJECT_ID</key>
	<string>dog-catcher-c6ed4</string>
	<key>STORAGE_BUCKET</key>
	<string>dog-catcher-c6ed4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78165056938:ios:33826a9ceede741d185fd3</string>
	<key>DATABASE_URL</key>
	<string>https://dog-catcher-c6ed4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>